

body {
    background-color: lightblue;
    
}
  
/* h1 {
    color: white;
    text-align: center;
    
}
  
p {
    font-family: verdana;
    font-size: 20px;
} 

pre {
    background-color: lightcoral;
}
code {
    text-align: center;
}
.circle {
    background-color: #2ecc71;
    /* width: 400px;
    height: 200px; */
    border-radius: 5%;
    font-family: cursive;
    width: 50%;
    
  /* }

.centre-col {
    margin-top: 0px;
    margin-left: 10%;
    margin-right: 10%;
} */ */